body {
    background-image:url('https://images.unsplash.com/photo-1529651737248-dad5e287768e?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
}

main {
    border-radius: 10px;
}